# Configfile example conifiguration

# comment

[LOGGING]
    # Allowed LOGLEVEL
    # DEBUG, WARNING, ERROR, CRITICAL
    LOGLEVEL = DEBUG
    LOGFILE = S02mqtt.log
    #LOGMODE= SYSLOG
    LOGMODE = LOGFILE
   # LOGSERVER= 192.168.2.50



#[BROKER]
#    HOST = 192.168.2.50
#    PORT = 1883
#    SUBSCRIBE = /OPENHAB/CALL
#    PUBLISH = /OPENHAB/RASP/

[BROKER]
  HOST= 192.168.2.50
  PORT= 1883
  PUBLISH= /OPENHAB/S0

[GPIO]
  TEMPFILE = S02mqtt.temp
  UPDATE = 30
  HWIF = RASPBERRY
  [[S0-22]]
    #port pin BMC numbering
    GPIO = 22
    #number of pulses for 1kWh
    FACTOR = 2000
    # power accuracy in Watt
    ACCURACY = 5
    # pull up down UP/DOWN
    ATTENUATOR = DOWN
    # trigger on RISING/FALLING/BOTH edge
    TRIGGER = RISING
    # Debouncing timer
    DEBOUNCE = 200

